* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #333;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.btn-adicionar {
  background-color: #1890ff;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-adicionar:hover {
  background-color: #40a9ff;
}

.barra-pesquisa {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.tabela-container {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 65vh;
  min-height: 200px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  text-align: center;
}

.tabela-produtos th, .tabela-produtos td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.tabela-produtos th {
  background-color: #1890ff;
  color: white;
  position: sticky;
  top: 0;
}

.modal-formulario {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.modal-formulario input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.modal-formulario button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.modal-formulario button.salvar {
  background-color: #52c41a;
  color: white;
  border: none;
}

.modal-formulario button.salvar:hover {
  background-color: #73d13d;
}

.modal-formulario button.cancelar {
  background-color: #ff4d4f;
  color: white;
  border: none;
}

.modal-formulario button.cancelar:hover {
  background-color: #ff7875;
}


@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  .btn-adicionar,
  .barra-pesquisa {
    font-size: 0.9rem;
  }

  .tabela-produtos {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .modal-formulario input,
  .modal-formulario button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  .btn-adicionar,
  .barra-pesquisa {
    font-size: 0.8rem;
  }

  .modal-formulario input,
  .modal-formulario button {
    font-size: 0.8rem;
  }
}
